/* Reset browser default CSS */
    html, body, div, span, applet, object, iframe,
    h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

:root {
    --background: #05b1a8;
    --offwhite: hsl(0, 0%, 90%);
    --gradient: linear-gradient(
        45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    );
    --gradient2: linear-gradient(
        45deg,
        #610498,
        #2c0785,
        #090979,
        #072b90,
        #05b1a8,
        #0cd003
    );
}
.home_screen{
    text-align: center;
}

.home_screen_image {
    padding: 2em;

}
.home_screen_h3 {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    transform: translateY(-90%);
}
.home_screen_h1 {
    font-family: basic-sans, sans-serif;
    font-weight: 900;
    font-size: 4rem;
    background-image: var(--gradient2);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 10s infinite alternate;
}

@keyframes gradient-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

.home_screen_box {
    background: rgba(220, 220, 200, .2);
    width: 60vw;
    padding: 1em;
    /* border: 10px;
    border-style: solid; */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2);}

#walkthrough_btn {
    font-weight: bold;
    background: rgba(220, 220, 200, .2);
    letter-spacing: 1.85px;
    color: var(--offwhite);
    text-decoration: inherit;
    font-family: system-ui;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 45px;
    margin-bottom: 45px;
    /* box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.404);} */
}
.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: var(--gradient2);
    animation: 10s rotate linear infinite;
    --angle: 0deg;
    border-image: linear-gradient(var(--angle),  #610498,
    #2c0785,
    #090979,
    #072b90,
    #05b1a8,
    #0cd003) 1;
    animation: 40s rotate linear infinite;
  }
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

h2{
    text-align: center;
    color: var(--offwhite);
    font-size: 40px;
    padding: 20px;
}

h3{
    text-align: center;
} 

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .8px;
    color: var(--offwhite);
}

content {
    height: 200vh;
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

button {
    cursor: pointer;
}

/* User Images Slideshow */
.user-images-section{
    display: none;
}

.user_images_container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.user-image-card{
    display: none;
    height: 500;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.saved-pic {
    width: 70%;
    height: 600px;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute; 
    top: 30%;
    transform: translateY(-50%);
    width: auto;
    margin-top: 50px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.next {
    right: 15%;
}
.prev {
    left: 15%;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(125,125,125,20);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.user-image-title{
    text-align: center;
}

/* APoD styles */

.picture-of-the-day-section{
    display: none;
}

.apod-img {
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* NASA Image Gallery styles */
.nasa-images-section {
    display: none;
}

.nasa-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(25, 30vw);
    grid-gap: 15px;
}
.space-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-card {
    padding-bottom: 60px;
}

.center-form {
    justify-content: center;
    display: block;
}

/* Mars Weather Formatting */
.mars_grid_container{
    display: grid;
    grid:
    'title title title title title'
    '. . . . .';
    grid-gap: 10px;
    align-items: flex-end;
    
}
.mars_weather_title{
    text-align: center;
    grid-area: title;
    color: rgb(220,220,220);
    font-size: 40px;
}
.mars-section{
    padding: 200px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    min-height: 500px;
    max-width: 1021px;
    background-image: url("https://images-assets.nasa.gov/image/PIA19164/PIA19164~orig.jpg");
}
.mars_weather_card{
    margin-top: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--offwhite);
    text-align: center;
    align-self: end;
    /* position: absolute; */
    
}
.mars_ul{
    list-style-type:none;
    text-align: left;
}
/* navigation styles start here */
.space-below-header{
    padding-bottom: 120px;
}

header {
    margin: 0;
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items:center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 40%;
}
.nav-toggle-label span::after {
    top: 40%;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-top: 1.25em;
    margin-bottom: 1em;
    margin-left: 1em;
}

nav span {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav span:hover {
    color: #000;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav span{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


.dropdown{
    cursor: pointer;
    grid-column: 1/2;
    justify-content: right;
}

.dropdown_content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background: var(--background);
  }
.dropdown_content > li{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
    text-align: center;
    width: 509px;
    /* width:auto; */
    
  }
  .dropdown_content > li::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: flex;
    left: 0;
    right: 0;
    top: -.75em;
    transform: scale(0,1);
    transition: transform ease-in 250ms;
}
.dropdown_content > li:hover::before {
    transform: scale(1,1);
}
.dropdown:hover .dropdown_content {display: block;}

.new_group_form {
    padding-top: 15px;
    font-size: 20px;
}

/* Nav bar on screen with more than 800 pixel width */
@media screen and (min-width: 300px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    nav {
        all: unset;
        grid-column: 2 / 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    nav li {
        margin-left: 2em;
        margin-bottom: 0;
    }
    nav span {
        cursor: pointer;
        opacity: 1;
        position: relative;
    }
    nav span::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        left: 0;
        right: 0;
        top: -.75em;
        transform: scale(0,1);
        transition: transform ease-in 250ms;
    }
    nav span:hover::before {
        transform: scale(1,1);
    }
    .logout {
        grid-column: 4/4;
        display: none;
    }
}


#overlay_left {
    position: fixed;
    display: none;
    width: 25%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
  }
#overlay_bottom {
    position: fixed;
    display: none;
    width: 50%;
    height: 95%;
    top: 5%;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
  }
#overlay_right{
    position: fixed;
    display: none;
    width: 25%;
    height: 100%;
    top: 0%;
    left: 75%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
}
#overlay_top{
    position: fixed;
    display: none;
    width: 20%;
    height: 95%;
    top: 5%;
    left: 80%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
}
.overlay_text{
    display: none;
    position:absolute;
    top: 30%;
    left: 20%;
    font-size: 60px;
    z-index: 1001;
}  

